_gitignore/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
kalkie_full_code.py
unify_code.py

# Jupyter
.ipynb_checkpoints/
.DS_Store
TESTs.ipynb

# Ambiente virtual
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
Thumbs.db